doctype html 
html 
    head
        title Convertidor 
        link(rel='stylesheet', href='/css/styles.css')
    body
        div(class='area')
            h2 Subir imagenes 
            form(action= '/uploadimg', method='POST')
              input(type='file' name='file' id='input-file')
              button(type='submit') Subir Imagen            
        div(id='preview')