doctype html 
html 
    head
        title Convertidor 
        link(rel='stylesheet', href='/css/styles.css')
    body
        div(class='area')
            h2 Subir imagenes 
            button(type='submit') Selecciona tu imagen
            input(type='file', name='', id='input-file' hidden multiple)
        div(id='preview')