doctype html 
html 
    head
        title Convertidor 
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/styles.css')
    body
        if usuario 
          p= usuario
        .area
            h2 Subir imagenes 
            .formimg
              img(src='' alt='Preview Img' id='preview')

            
            .formimg
              button(type='button' id='boton-input') Seleccionar Imagen 

            form(action= '/uploadimg', method='POST', enctype='multipart/form-data')
              .formimg
                input(type='file' name='file' id='input-file' hidden)
              .formimg
                select(name='tiposDeArchivo' id='tipo-archivo') 
                    option(value="0" class='opcion') Selecciona tipo archivo
                    option(value="png" class='opcion') PNG
                    option(value="jpeg" class='opcion') JPEG
                    option(value="webp" class='opcion') WEBP
                    option(value="gif" class='opcion') GIF
                    option(value="jpg" class='opcion') JPG
              .formimg
                button(type='submit') Subir Imagen  

            form(action='/descarga-img-transformada' method='POST')
              .formimg
                button(type='submit') Descargar Imagen

            script.
              document.getElementById('boton-input').addEventListener('click', function() {
                document.getElementById('input-file').click();
              });

              document.getElementById('input-file').addEventListener('change', function() {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        document.getElementById('preview').src = event.target.result;

                        var mimeType = file.type; //obtiene el mime type o formato de la imagen subida
                        console.log(mimeType);

                        var select = document.getElementById('tipo-archivo');
                        var options = select.options; //agarra las opciones del select llamado con el id 'tipo-archivo' y las guarda en la variable llamada options
                        console.log(options);

                        for (var i = 0; i < options.length; i++) { //un ciclo que busca en cada opcion
                          if (options[i].value === mimeType) { //la coincidencia con el mymetype
                            console.log("si la encontre") //pero no jala
                            //- options[i].style.display = 'none';
                          } else {
                            console.log("nel, no hay")
                            //- options[i].style.display = 'block';
                          }
                        }
                    }
                    reader.readAsDataURL(file);
                }
              });