doctype html 
html 
    head
        title Convertidor 
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/styles.css')
    body
        if usuario 
          p= usuario
        .area
            h2 Subir imagenes 
            .formimg
              img(src='' alt='Preview Img' id='preview')

            
            .formimg
              button(type='button' id='boton-input') Seleccionar Imagen 

            form(action= '/uploadimg', method='POST', enctype='multipart/form-data')
              .formimg
                input(type='file' name='file' id='input-file' hidden)
              .formimg
                select(name='tiposDeArchivo' id='tipo-archivo') 
                    option(value="0" class='opcion') Selecciona tipo archivo
                    option(value="png" class='opcion') PNG
                    option(value="jpeg" class='opcion') JPEG
                    option(value="webp" class='opcion') WEBP
                    option(value="gif" class='opcion') GIF
                    option(value="jpg" class='opcion') JPG
              .formimg
                button(type='submit') Subir Imagen  

            form(action='/descarga-img-transformada' method='POST')
              .formimg
                button(type='submit') Descargar Imagen

            script.
              //Primer script, para que el boton abra el input y se seleccionen imagenes
              document.getElementById('boton-input').addEventListener('click', function() {
                document.getElementById('input-file').click();
              });

              //script donde: 1ro- se obtiene una preview de la imagen al seleccionarla
              // y 2do- identifica su su mimetype y 
              document.getElementById('input-file').addEventListener('change', function() {
                var file = this.files[0];
                if (file) {
                    var reader = new FileReader();
                    reader.onload = function(event) {
                        document.getElementById('preview').src = event.target.result;
                        }
                    }
                    reader.readAsDataURL(file);

                    // Detectar el formato de la imagen
                    var tipoMIME = file.type;

                    // Deshabilitar la opción correspondiente en el select
                    var opciones = document.querySelectorAll('#tipo-archivo option');

                    opciones.forEach(function(opcion) {
                      if (opcion.value !== "0" && opcion.value === tipoMIME.split('/')[1]) {
                        opcion.style.display = "none"; // Ocultar la opción que coincide con el tipo MIME
                      } else {
                        opcion.style.display = "block"; // Mostrar las otras opciones
                      }
                    });
              });