body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2F4858;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  color: #86BBD8;
}

.area {
  padding: 50px 0;
  max-width: 100%;
  width: 700px;
  height: auto;
  border-radius: 5px;
  border: solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.area button {
  width: 300px;
  font-size: 20px;
  border: 0;
  background-color: #86BBD8;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px auto;
}

.areaHist {
  display: flex;
  flex-direction: row;
  max-width: 1380px;
}
.areaHist img {
  padding: 6px;
  width: 50vh;
  height: auto;
}
.areaHist p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.histImgSub {
  display: flex;
  flex-direction: column;
}

.histImgDes {
  display: flex;
  flex-direction: column;
}

#preview {
  width: 300px;
  height: auto;
}
#preview img {
  width: 100%;
  height: 100%;
  display: block;
}

.botonLoginLogout {
  padding: 10px;
}
.botonLoginLogout button {
  width: 150px;
  font-size: 18px;
  border: 0;
  background-color: #86BBD8;
  color: black;
  border-radius: 5px;
  cursor: pointer;
}

.formimg {
  padding: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 700px;
  align-items: center;
}
.formimg button {
  width: 300px;
  font-size: 20px;
  border: 0;
  background-color: #86BBD8;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  margin: 0px auto;
}
.formimg input {
  width: 300px;
}
.formimg label {
  font-size: 20px;
}

#tipo-archivo {
  margin-top: 5px;
  margin-bottom: 2px;
}

@media only screen and (max-width: 600px) {
  .area {
    max-width: 85%;
  }
  .area #preview {
    width: 200px;
    height: auto;
  }
  .areaHist {
    display: flex;
    flex-direction: column;
  }
  .areaHist img {
    padding: 6px;
    max-width: 600px;
    width: 60%;
    height: auto;
  }
  .areaHist p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 10%;
  }
  .histImgSub {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .histImgDes {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .formimg {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .formimg button {
    width: 80%;
  }
  .formimg input {
    width: 80%;
  }
  .formimg label {
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1380px) {
  .area {
    width: 400px;
  }
  .area #preview {
    width: 200px;
    height: auto;
  }
  .areaHist {
    display: flex;
    flex-direction: row;
  }
  .areaHist img {
    padding: 6px;
    width: 30vh;
    height: auto;
  }
  .areaHist p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .formimg {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .formimg button {
    width: 280px;
  }
  .formimg input {
    width: 280px;
  }
  .formimg label {
    font-size: 15px;
  }
}
@media only screen and (min-width: 1380px) {
  .area {
    width: 700px;
  }
  .areaHist {
    display: flex;
    flex-direction: row;
  }
  .areaHist img {
    padding: 6px;
    width: 50vh;
    height: auto;
  }
  .areaHist p {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 10px;
  }
  .formimg {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .formimg button {
    width: 300px;
  }
  .formimg input {
    width: 300px;
  }
  .formimg label {
    font-size: 20px;
  }
}

/*# sourceMappingURL=styles.css.map */
