

$primaryColor: #2F4858
$secColor: #0eb1d2
$terColor: #86BBD8

body
  margin: 0
  padding: 0
  box-sizing: border-box
  background-color: $primaryColor
  display: flex
  align-items: center
  justify-content: center
  min-height: 100vh
  flex-direction: column

.area
  padding: 50px 0
  max-width: 100%
  width: 700px
  height: auto
  border-radius: 5px
  border: solid
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  button
    width: 300px
    font-size: 20px
    border: 0
    background-color: $terColor
    color: black
    border-radius: 5px
    cursor: pointer
    margin: 0px auto

.areaHist
  display: flex
  flex-direction: row

  img
    padding: 6px
    width: 400px
    height: auto

  h2
    color: #86BBD8

  p
    margin-top: 0px 
    margin-bottom: 10px
    color: #86BBD8

.histImgSub
  display: flex
  flex-direction: column

.histImgDes
  display: flex
  flex-direction: column

#preview
  width: 300px
  height: auto

  img
    width: 100%
    height: 100%
    display: block

.botonLoginLogout
  padding: 10px
  
  button
    width: 150px
    font-size: 18px
    border: 0
    background-color: $terColor
    color: black
    border-radius: 5px
    cursor: pointer

.formimg
  padding: 10px
  display: flex
  flex-direction: column

  button
    width: 300px
    font-size: 20px
    border: 0
    background-color: $terColor
    color: black
    border-radius: 5px
    cursor: pointer
    margin: 0px auto

    
#tipo-archivo
  margin-top: 5px
  margin-bottom: 2px

// Media queries para dispositivos móviles
@media only screen and (max-width: 600px)
  // Aquí van los estilos específicos para dispositivos móviles
  .area
    max-width: 85%
// Media queries para tablets
@media only screen and (min-width: 601px) and (max-width: 1380px)
  // Aquí van los estilos específicos para tablets
  .area
    width: 400px
// Media queries para desktops
@media only screen and (min-width: 1380px)
  // Aquí van los estilos específicos para desktops
  .area
    width: 700px